@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  font-family: "Mozilla Text", sans-serif;
}

/* Navbar */
.navbar {
  background-color: rgb(178, 243, 147);
  padding: 20px;
}

.navbar .navbar-brand a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  color: rgb(50, 24, 200);
  font-weight: bold;
}

.navbar .navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

/* Home Section */
.home-section {
  padding: 50px 0;
}

.home-section h3 {
  font-size: 35px;
  color: rgb(116, 104, 4);
}

.home-section h5 {
  font-size: 30px;
  color: rgb(7, 99, 100);
}

.home-section p {
  font-size: 20px;
  color: rgb(99, 99, 99);
}

.home-section img {
  width: 70%;
  border-radius: 50%;
}

/* Education Section */
.Edu-section h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
}

.Edu-col {
  box-shadow: 2px 5px 5px rgb(148, 146, 146);
  padding: 20px;
  margin-bottom: 20px;
}

.Edu-col h2 {
  font-size: 20px;
  color: purple;
}

.Edu-col h3 {
  font-size: 20px;
  line-height: 30px;
}

progress {
  width: 100%;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: #ccc;
}

/* Skills Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.grid-item {
  background-color: #dcfdfa5e;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.grid-item h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.grid-item li {
  font-size: 25px;
}

/* Certificates */
.certification-section {
  padding: 50px 0;
  text-align: center;
}

.certification-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.certification-card {
  background-color: #f7f7f7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.view-btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.view-btn:hover {
  background-color: #3e8e41;
}

/* Contact Form */
.contact h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

#contact form {
  max-width: 500px;
  margin: 0 auto;
}

#contact input, #contact textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact input[type="submit"] {
  background-color: #42daf8;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
}

/* Footer */
.contact-footer {
  background-color: #cbfaab;
  color: #1b1a1a;
  padding: 20px;
  text-align: center;
}

.contact-footer a {
  color: #050e52;
  text-decoration: none;
}

.contact-footer a:hover {
  color: #2485d4;
}